//- modal gallery
#modal_photos.modal_posts
    span.close_post &times;
    .container-fluid
        .row
            .spinner-border.text-info#post--spinner(style='width: 6rem; height: 6rem; margin: 230px 630px 0px 630px' role='status')
            .col-lg-2
            .col-lg-7.modal_posts-content
                .row
                    .col-lg-12
                        .card
                            .card-header.mb-2(style='padding: 5px !important;')
                                h5(style='margin-bottom: 0px !important')
                                    img.mr-2#modal_gallery-postOwnerPhoto( alt='' width='50px' style='border-radius: 50%;')
                                    span#modal_gallery-postOwner
                                    span#post_description.ml-2(style="font-weight: 400; font-size: 16px")
                                    small.mr-2.text-muted.float-right#post_date(style="margin-top: 15px !important")
                            img#img--post.card-img-top(width='780' height='560' style='object-fit: cover;')
                            button.btn.btn-sm.btn-danger#btn-deletePost(style="display: none; position: absolute; top: 80px; right: 10px") 
                                i.fas.fa-trash-alt.mr-2
                                | Delete Post
                            .card-body(style='padding: 5px !important;')
                                button#num_of_likes.btn.btn-info.btn-sm(style='width: 150px !important;' data-target='#modal_likes' data-toggle='modal') All Likes
                                button.btn.btn-secondary.float-right.btn-sm#btn-like(style='width: 150px !important;')
                                    i.far.fa-thumbs-up
                                    |  Like
            #comments_container.col-lg-3
                .card
                    .card-header(style='padding: 7px !important')
                        span.align-middle.ml-2
                            i.fas.fa-comments
                            |  Comments
                        button.btn.btn-primary.float-right.btn-sm(type='button' data-toggle='modal' data-target='#modal_comment')
                            | Add comment
                    .card-body#add_comments(style='padding: 5px !important')
//- modal comment
#modal_comment.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
        .modal-content
            .modal-header
                h5.modal-title Say something about this photo...
                button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
            .modal-body(style='padding: 15px 10px 0px 10px !important; background-color: #f2f2f2;')
                .row
                    .col-lg-12
                        .form-group
                            textarea#comment.form-control(rows='1' placeholder='Type here...')
            .modal-footer
                button.btn.btn-primary#btn-add_comment(type='button')
                    i.far.fa-comment
                    |  Comment

//- modal likes
#modal_likes.modal.fade(tabindex='-1' role='dialog')
    .modal-dialog.modal-sm.modal-dialog-centered(role='document')
        .modal-content
            .modal-header(style='padding: 10px !important')
                p.modal-title(style="font-weight: 500") People who liked this photo
                button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
            .modal-body#likes_list(style='padding: 0px !important')
                .row
                    .col-lg-12
                        .list-group#append_likes