extends base

block content
    .container(style='margin-top: 100px;')
        .row
            .col-lg-4
            .col-lg-4
                .card.text-center.shadow
                    .card-header
                        | Log in to use the app
                    .card-body
                        form
                            label(for='email') Email address:
                            input#email.form-control(type='email' placeholder='you@example.com' required='')
                            br
                            label(for='password') Your password:
                            input#password.form-control(type='password' minlength='8' required='')
                            br
                            button.btn.btn-block.btn-lg.btn-secondary.mb-3.btn--login(type='submit')
                                | Log in
                        p(style="margin-bottom: 8px !important")
                            | Don&apos;t have an account? 
                            a(href='/signup') Register here!
                        span
                            | Forgot your password?
                            a.ml-1(href="#" data-toggle="modal" data-target="#resetPassModal") Click here!   
                    .card-footer.text-muted
                        | soMuchFun.com 
    //- modal reset password                    
    #resetPassModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalLabel.modal-title Reset Password
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    label(for="email_resetPass") Type your email here to submit a request:
                    input#email_resetPass(type="email" placeholder="email@example.com" class="form-control")
                .modal-footer
                    button.btn.btn-info(type='button' onclick="resetPassword(this)")
                        | Submit

block scriptFile
    script(src="/js/login.js")