extends base

block content
    .container(style='margin-top: 150px;')
        .row
            .col-lg-4
            .col-lg-4
                .card.text-center
                    h5.card-header
                        | Reset Password
                    .card-body
                        form
                            label(for='password') New password:
                            input#password.form-control(type='password' minlength='8' required='')
                            br
                            label(for='passwordConfirm') Confirm password:
                            input#passwordConfirm.form-control(type='password' minlength='8' required='')
                            br
                            button.btn.btn-block.btn-lg.btn-secondary.mb-3.btn--resetPass(type='submit')
                                i.fas.fa-user-edit.mr-2
                                | Change password 
                    .card-footer.text-muted
                        | soMuchFun.com 

block scriptFile
    script(src="/js/resetPassword.js")