<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>soMuchFun | Registration</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body style="background-color: #9ae59a;">
    <div class="container" style="margin-top: 20px;">
      <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
          <div class="card text-center">
            <div class="card-header">
              Registration form
            </div>
            <div class="card-body">
              <form>
                <label for="firstName">Your first name:</label>
                <input
                  type="text"
                  class="form-control"
                  id="firstName"
                  required
                /><br />
                <label for="firstName">Your last name:</label>
                <input
                  type="text"
                  class="form-control"
                  id="lastName"
                  required
                /><br />
                <label for="email">Email address:</label>
                <input
                  type="email"
                  class="form-control"
                  placeholder="you@example.com"
                  id="email"
                  required
                /><br />
                <label for="password">Your password:</label>
                <input
                  type="password"
                  class="form-control"
                  minlength="8"
                  id="password"
                  required
                /><br />
                <label for="passwordConfirm">Confirm password:</label>
                <input
                  type="password"
                  class="form-control"
                  minlength="8"
                  id="passwordConfirm"
                  required
                /><br />
                <button
                  type="submit"
                  class="btn btn-block btn-lg btn-secondary mb-3"
                >
                  Sign up
                </button>
              </form>
              <span>
                Already have an account? <a href="login.html">Log in here</a>
              </span>
            </div>
            <div class="card-footer text-muted">
              soMuchFun.com
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <script src="register.js"></script>
  </body>
</html>
